@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0B0B0D;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #fff;
  background: var(--background);
}
